*{
	box-sizing: border-box;
}

@font-face {
    font-family: 'kelvinizednormal';
    src: url('../images/kelvinized-webfont.woff2') format('woff2'),
         url('../images/kelvinized-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  margin: 0; padding: 0;
  height: 100%;
  color: #232011;
}

.bkg-animated {
  background: url("../images/trainChris.png") repeat center center;
  height:100%;
  background-size: contain;
  -webkit-animation: slide 20s linear infinite;
}


@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
header{
	text-align: center;
}
.headerBox{
	margin: auto;
	text-align: center;
	font-family: 'kelvinizednormal';
	text-align: center;
	color: #CB2727;
	font-size: 72px;
	padding: 20px;
	font-kerning: normal;

}
body{	
	font-family: 'Work Sans', sans-serif;
}

h2, h3{
	text-align: center;
	
}
th{
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 10px;
	color:#090446;
}
h2{
	font-size: 24px;
}

h3{
	font-size: 18px;
}

tbody{
	background-color: #FFF;
	color: #1F2D3D;
}

td{
	border-radius: 0;
	background-color:#D8D8D8;
	color: #090446;
	padding: 2px 2px;
}


.fa-plus-circle{
	color:#090446;
}
.buttonContainer, .formContainer{
	max-width: 200px;
	background-color: #f6f4ea;
	border: 4px solid #090446;
	border-radius: 25px;
	color:#090446;
	text-align: center;
	margin: 40px auto;
	font-family: 'kelvinizednormal';
}

.formContainer{
	font-family: 'Work Sans', sans-serif;
	max-width: 720px;
	height:200px;
	text-align: left;
	padding: 10px;
}

.formContainer h2{
	font-family: 'Josefin Sans', sans-serif;
}

#theTable{
	margin:2%;
	text-align: center;
	background-color: #f6f4ea;
	padding: 10px;
	border-radius:10px;
}

.myButton{
	color: #F95F62 !important;
}
.container2{
	text-align: center;
}

.tableContainer{
	max-width: 720px;
	margin:auto;
	text-align: center;
	border-radius:10px;
	padding: 20px;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px auto;
}


.close{
	text-align: right;
	padding-right: 5px;
	font-size: 18px;
}

.close:hover{
	cursor:pointer;
}

.formContainer{
	display: none;
}

.inputRow{
	padding-left: 5%;
}

.input-field label {
    color:#534B52;
}

.error1,.error2,.error3,.error4{
	line-height: 10px;
	font-size: 10px;
	margin: 0;
	color: #ED0311;
}

.halfColumn{
	width:50%;
	float: left;
}

.buttonContainer2{
	text-align: center;
}

.buttonContainer2 button{
	background-color:#090446;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 25px;
	padding: 5px;

}

input{
    font-family: 'Work Sans', sans-serif;
}

.input-field input[type=text]:focus + label {
	color:#090446;
}


   .subBtn{
   	margin-bottom: 5px;
   	font-family: 'Anton', sans-serif;

   }

@media only screen and (max-width: 980px) {
    .bkg-animated 	{
        background-size: cover;
    }
}

@media only screen and (max-width: 751px) {
    .tableContainer{
        font-size:10px;
    }

    .headerBox{
    	font-size:7vw;
    }

    #theTable{
    	margin:auto;
    }

    .close{
		font-size:12px;
    }

    form h2{
    	font-size:18px;
    }

    form label{
    	font-size: 8px;
    }

    form input{
    	width: 100px;
    }

    .addButton h3{
    	font-size:12px;
    }
}